{
    "sourceMaps": true,
    "presets": [
        "latest",
        "react",
        "stage-0"
    ],
    "plugins": [
        ["transform-react-jsx-source"],
        ["transform-decorators-legacy"],
        ["transform-react-jsx"]
    ]
}
